<ion-header>
    <ion-navbar>
        <ion-title>Sets</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
              <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Themes</h2>
    
    <ion-list>
        <ion-item *ngFor="let theme of themes" (click)="selectTheme(theme)">
            <ion-thumbnail item-start>
                <img [src]="theme.logoUrl">
            </ion-thumbnail>
            <h2>{{ theme.name }}</h2>
            <p>{{ theme.startDate }} - {{ theme.endDate }}</p>

            <button ion-button icon-only clear item-end 
                (click)="toggleFavorite($event, theme)"
                class="favorite">
                <ng-container *ngIf="isFavorite(theme); then favorite else unfavorite"></ng-container>
                <ng-template #favorite>
                    <ion-icon name="star"></ion-icon>
                </ng-template>
                <ng-template #unfavorite>
                    <ion-icon name="star-outline"></ion-icon>
                </ng-template>
            </button>
        </ion-item>
    </ion-list>

    <div>
        <!-- Lego Head icon by Icons8 -->
        <img class="icon icons8-Lego-Head" width="50" height="50" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAjRJREFUaAXtWcsuBEEUHY9YjC2R+AZiIcLOyhbxAyKR2PgAXzA/YCvxB3YW/gCJhbCwwI6ERGZPgnP0XOkepqZv1+2ZSqVucrqmTZ1zT9Ut1bo0GinSDAQ5A2twdQl8eYIa1Bpa3COz7yCET62hhZjwNeCtM+rrIBR+GkgolRAf0VRkREbUp53B97vAMrAIzAJ1xjPEr4AL4Ah4AbxjAwptQHaWQbfMTQ9esQn2J0Dzp8A6UHc1kOInB3MxJ3PTA71Uimmw3gAKHVRSsCExNz3QCz2powUGBc7UTHsCPdALPanjDgySV9VMewI90As9qeMdDJKbaqY9gR7ohZ7UQSIRSjj9RPNATAMJZb2Jj1QRmYlOK6+8ZV9Ztf270ulunbtEl1T+lbfMK6u2P9M5/USztLomtnDrnIFCz+wEhMuqzqWl8VOwV5lYULG7cfqJZmmlgditGBsl64qUPQOwcZ9TsRzINnRfgX3Apcvv2OcJ4IGGSYybqGQik2imgENgDzgGroEbgDEPLAA7wBzAGMuaeq/O7a5Hap52PALC7dU+oI/2ZES0/k3tWtMkMlx9sh7F6wRut4AVgFWQ2b/FZ1bnHDgBtG97Vf38zipyBhHOirh+KT869psBDEM8iKc/llwD4VpnLGXNUK/iQTypzERzrhXNSSPLF8XZr6xD7vdtQHaNQbfM3feZU/YZEcX/R6Qy+Vaqkv+ZxefKuq7t18LYwDR8/2jkDAYR0VQkiNlMJmKcgW8zX+dT22GJOQAAAABJRU5ErkJggg==">
    </div>

    <div>
        <!-- Plugin icon by Icons8 -->
        <img class="icon icons8-Plugin" width="64" height="64" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAONJREFUeAHt2MEKwkAMRdEq/v8vK4KbzmLqtIUXyHFXSpLXm5uN2+aHAAIIIIAAAggggAACCCDQj8Djhk9+L/Y4mnl3v2m85/Rtg5cANFjy9BOP7vFbfPUmV+vHwGPG1X5j/a6/E9jhaPjQ3oDpffyEGG/un5qkS0t52xsAQNLVCrMZUGELyQwMSNKvMJsBFbaQzMCAJP0KsxlQYQvJDAxI0q8wmwEVtpDMwIAk/QqzGVBhC8kMDEjSrzD7dSLE+L/7iRZ1SpxAnV1kkrQ3IIPdVAQQQAABBBBAAAEEEEAAgSyBDxxVCEeYU1+GAAAAAElFTkSuQmCC">
    </div>
</ion-content>